body {
	line-height: 23px;
	@include media('>=screen-md') {
		@include fontsize(16, 30);
	}
}

h1, h2, h3, h4, h5, h6 {
	a {
		color: inherit;
	}
}
h1 {
	line-height: 30px;
	margin: 0 0 20px;
	@include media('>=screen-md') {
		@include fontsize(32, 36);
		margin: 0 0 30px;
	}
}
h2 {
	line-height: 24px;
	font-weight: 400;
	margin: 0 0 15px;
	letter-spacing: 1px;
	@include media('>=screen-md') {
		@include fontsize(24, 30);
		margin: 0 0 25px;
	}
}
h3 {
	line-height: 30px;
	text-transform: capitalize;
	margin: 0;
	letter-spacing: 1px;
}
h4 {
	margin: 0 0 10px;
	line-height: 18px;
}
h5 {
	margin: 0 0 10px;
}
h6 {
	margin: 0 0 10px;
}
a, button, input[type="submit"] {
	@include transition;
}
a{
	&:focus {
		color: $brand-secondary;
		outline: none;
	}
}
.btn {
	@include fontsize(16, 20);
	padding-top: 6px;
}
.text {
	display: block;
	letter-spacing: 1px;
}
p {
	margin: 0 0 15px;
	@include media('>=screen-md') {
		margin: 0 0 23px;
	}
}
